body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  font-family: Arial, sans-serif;
  color: white;
  
  overflow: hidden; /* Completely hide both scrollbars */
}

.content-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto; /* Allow scrolling within this container */
  scrollbar-width: none; /* Firefox */
}


  
#image-track {
  display: flex;
  margin-top: -140px;
  gap: 4vmin;
  position: relative;
  left: 0%; /* Originally 50% */
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* Resume Content Styles */
#resume-content {
    margin-top: 10px; /* Adjust based on image gallery height */
    padding: 20px;
    position: relative;
    z-index: 1;
    user-select: none; /* -- Prevent image highlighting -- */
  }

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
  
.logos {
  overflow: hidden;
  margin-top:140px;
  padding: 60px 0;
  background: black;
  white-space: nowrap;
  position: relative;
  user-select: none;
}
  
.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
  
.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}
  
.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}
  
.logos:hover .logos-slide {
  animation-play-state: paused;
}
  
.logos-slide {
  display: inline-block;
  animation: 5s slide infinite linear;
}
  
.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}